[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rdkit = "*"
uvicorn = "*"
psycopg2-binary = "*"
asyncpg = "*"
marshmallow = "*"
fastapi = {extras = ["all"], version = "*"}
exceptiongroup = "*"
numpy = "*"
async-timeout = "*"

[dev-packages]

[requires]
python_version = "3.8"
