services:
  simplegw-api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80

      ## OIDC
      - OIDCProvider=EntraID
      - EntraID:Instance=${EntraID_Instance}
      - EntraID:Domain=${EntraID_Domain}
      - EntraID:TenantId=${EntraID_TenantId}
      - EntraID:ClientId=${EntraID_ClientId}
      - EntraID:Audience=${EntraID_Audience}

      ## OIDC
      # - OIDCProvider=KeyCloak
      # - KeyCloak:Instance=${Keycloak_Instance}
      # - KeyCloak:TenantId=${Keycloak_Realm}
      # - KeyCloak:ClientId=${Keycloak_ClientId}
      # - KeyCloak:Audience=${Keycloak_Audience}
      # - KeyCloak:Authority=${Keycloak_Authority}

      ## Internal API Routing
      - "UserStoreAPI:BaseUrl=http://userstore-api/api/v2/"

      - "EndPointRouting:gene=http://gene-api"
      - "EndPointRouting:gene-batch=http://gene-api"
      - "EndPointRouting:strain=http://gene-api"

      - "EndPointRouting:target=http://target-api"
      - "EndPointRouting:screen=http://screen-api"
      - "EndPointRouting:hit-collection=http://screen-api"

      - "EndPointRouting:hit-assessment=http://hitassessment-api"
      - "EndPointRouting:project=http://project-api"
      - "EndPointRouting:horizon=http://horizon-api"
      - "EndPointRouting:molecule=http://mlogix-api"
      - "EndPointRouting:api-resources=http://userstore-api"
      - "EndPointRouting:app-settings=http://userstore-api"
      - "EndPointRouting:org=http://userstore-api"
      - "EndPointRouting:roles=http://userstore-api"
      - "EndPointRouting:user=http://userstore-api"
      - "EndPointRouting:questionnaire=http://questionnaire-api"
      - "EndPointRouting:comment=http://comment-api"
      - "EndPointRouting:docu-store=http://docustore-api"
      - "EndPointRouting:event-history=http://event-history-api"
      - "EndPointRouting:user-preferences=http://user-preferences-api"
      - "EndPointRouting:aggregators=http://aggregators-api"

    ports:
      - "8010:80"
    networks:
      - daikon-be-net

  userstore-api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80

      ## MongoDb Data Store
      - UserStoreMongoDbSettings:ConnectionString=${MongoDB_ConnectionString}
    ports:
      - "8011:80"
    networks:
      - daikon-be-net

  gene-api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80

      ## Event Store
      - EventDatabaseSettings:ConnectionString=${EventDB_ConnectionString}

      ## Kafka Producer
      - KafkaProducerSettings:BootstrapServers=${KafkaBootstrapServers}
      - KafkaProducerSettings:ConnectionString=${KafkaConnectionString}
      - KafkaProducerSettings:SecurityProtocol=${KafkaSecurityProtocol}
      - KafkaProducerSettings:Topic=${KafkaTopic}

      ## Kafka Consumer
      - KafkaConsumerSettings:BootstrapServers=${KafkaBootstrapServers}
      - KafkaConsumerSettings:ConnectionString=${KafkaConnectionString}
      - KafkaConsumerSettings:SecurityProtocol=${KafkaSecurityProtocol}
      - KafkaConsumerSettings:Topics=${KafkaConsumerTopics}

      ## MongoDb Data Store
      - GeneMongoDbSettings:ConnectionString=${MongoDB_ConnectionString}
    ports:
      - "8001:80"

    networks:
      - daikon-be-net

  target-api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80

        ## Event Store
      - EventDatabaseSettings:ConnectionString=${EventDB_ConnectionString}

      ## Kafka Producer
      - KafkaProducerSettings:BootstrapServers=${KafkaBootstrapServers}
      - KafkaProducerSettings:ConnectionString=${KafkaConnectionString}
      - KafkaProducerSettings:SecurityProtocol=${KafkaSecurityProtocol}
      - KafkaProducerSettings:Topic=${KafkaTopic}

      ## Kafka Consumer
      - KafkaConsumerSettings:BootstrapServers=${KafkaBootstrapServers}
      - KafkaConsumerSettings:ConnectionString=${KafkaConnectionString}
      - KafkaConsumerSettings:SecurityProtocol=${KafkaSecurityProtocol}
      - KafkaConsumerSettings:Topics=${KafkaConsumerTopics}

      ## MongoDb Data Store
      - TargetMongoDbSettings:ConnectionString=${MongoDB_ConnectionString}

    ports:
      - "8002:80"

    networks:
      - daikon-be-net

  screen-api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80

      ## Event Store
      - EventDatabaseSettings:ConnectionString=${EventDB_ConnectionString}

      ## Kafka Producer
      - KafkaProducerSettings:BootstrapServers=${KafkaBootstrapServers}
      - KafkaProducerSettings:ConnectionString=${KafkaConnectionString}
      - KafkaProducerSettings:SecurityProtocol=${KafkaSecurityProtocol}
      - KafkaProducerSettings:Topic=${KafkaTopic}

      ## Kafka Consumer
      - KafkaConsumerSettings:BootstrapServers=${KafkaBootstrapServers}
      - KafkaConsumerSettings:ConnectionString=${KafkaConnectionString}
      - KafkaConsumerSettings:SecurityProtocol=${KafkaSecurityProtocol}
      - KafkaConsumerSettings:Topics=${KafkaConsumerTopics}

      ## MongoDb Data Store
      - ScreenMongoDbSettings:ConnectionString=${MongoDB_ConnectionString}
      ## Internal APIs
      - "MLogixAPI:Url=http://mlogix-api/api/v2"

    ports:
      - "8003:80"
    networks:
      - daikon-be-net

  hitassessment-api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80

      ## Event Store
      - EventDatabaseSettings:ConnectionString=${EventDB_ConnectionString}

      ## Kafka Producer
      - KafkaProducerSettings:BootstrapServers=${KafkaBootstrapServers}
      - KafkaProducerSettings:ConnectionString=${KafkaConnectionString}
      - KafkaProducerSettings:SecurityProtocol=${KafkaSecurityProtocol}
      - KafkaProducerSettings:Topic=${KafkaTopic}

      ## Kafka Consumer
      - KafkaConsumerSettings:BootstrapServers=${KafkaBootstrapServers}
      - KafkaConsumerSettings:ConnectionString=${KafkaConnectionString}
      - KafkaConsumerSettings:SecurityProtocol=${KafkaSecurityProtocol}
      - KafkaConsumerSettings:Topics=${KafkaConsumerTopics}

      ## MongoDb Data Store
      - HAMongoDbSettings:ConnectionString=${MongoDB_ConnectionString}
      ## Internal APIs
      - "MLogixAPI:Url=http://mlogix-api/api/v2"

    ports:
      - "8004:80"
    networks:
      - daikon-be-net

  project-api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80

      ## Event Store
      - EventDatabaseSettings:ConnectionString=${EventDB_ConnectionString}

      ## Kafka Producer
      - KafkaProducerSettings:BootstrapServers=${KafkaBootstrapServers}
      - KafkaProducerSettings:ConnectionString=${KafkaConnectionString}
      - KafkaProducerSettings:SecurityProtocol=${KafkaSecurityProtocol}
      - KafkaProducerSettings:Topic=${KafkaTopic}

      ## Kafka Consumer
      - KafkaConsumerSettings:BootstrapServers=${KafkaBootstrapServers}
      - KafkaConsumerSettings:ConnectionString=${KafkaConnectionString}
      - KafkaConsumerSettings:SecurityProtocol=${KafkaSecurityProtocol}
      - KafkaConsumerSettings:Topics=${KafkaConsumerTopics}

      ## MongoDb Data Store
      - ProjectMongoDbSettings:ConnectionString=${MongoDB_ConnectionString}

      ## Internal APIs
      - "MLogixAPI:Url=http://mlogix-api/api/v2"

    ports:
      - "8005:80"
    networks:
      - daikon-be-net

  horizon-api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80

      # Neo4j
      - HorizonNeo4jSettings:Uri=${HorizonNeo4jURI}
      - HorizonNeo4jSettings:User=${HorizonNeo4jUser}
      - HorizonNeo4jSettings:Password=${HorizonNeo4jPassword}

      ## Kafka Consumer
      - KafkaConsumerSettings:BootstrapServers=${KafkaBootstrapServers}
      - KafkaConsumerSettings:ConnectionString=${KafkaConnectionString}
      - KafkaConsumerSettings:SecurityProtocol=${KafkaSecurityProtocol}
      - KafkaConsumerSettings:Topics=${KafkaConsumerTopics}

    ports:
      - "8006:80"
    networks:
      - daikon-be-net

  mlogix-api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80

      # Event Store
      - EventDatabaseSettings:ConnectionString=${EventDB_ConnectionString}

      # Kafka Producer
      - KafkaProducerSettings:BootstrapServers=${KafkaBootstrapServers}
      - KafkaProducerSettings:ConnectionString=${KafkaConnectionString}
      - KafkaProducerSettings:SecurityProtocol=${KafkaSecurityProtocol}
      - KafkaProducerSettings:Topic=${KafkaTopic}

      # Kafka Consumer
      - KafkaConsumerSettings:BootstrapServers=${KafkaBootstrapServers}
      - KafkaConsumerSettings:ConnectionString=${KafkaConnectionString}
      - KafkaConsumerSettings:SecurityProtocol=${KafkaSecurityProtocol}
      - KafkaConsumerSettings:Topics=${KafkaConsumerTopics}

      # MongoDb Data Store
      - MLxMongoDbSettings:ConnectionString=${MongoDB_ConnectionString}

      # Internal APIs
      - "DaikonChemVault:Url=http://daikon_chem_vault_api:10001"
      - "CageFusion:NuisanceAPIURL=http://cage_fusion_nuisance_api:10002"

    ports:
      - "8007:80"
    networks:
      - daikon-be-net

  questionnaire-api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80

      ## Data Store
      - QuestionnaireMongoDbSettings:ConnectionString=${MongoDB_ConnectionString}
    ports:
      - "8008:80"
    networks:
      - daikon-be-net

  comment-api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80

      ## Event Store
      - EventDatabaseSettings:ConnectionString=${EventDB_ConnectionString}

      ## Kafka Producer
      - KafkaProducerSettings:BootstrapServers=${KafkaBootstrapServers}
      - KafkaProducerSettings:ConnectionString=${KafkaConnectionString}
      - KafkaProducerSettings:SecurityProtocol=${KafkaSecurityProtocol}
      - KafkaProducerSettings:Topic=${KafkaTopic}

      ## Kafka Consumer
      - KafkaConsumerSettings:BootstrapServers=${KafkaBootstrapServers}
      - KafkaConsumerSettings:ConnectionString=${KafkaConnectionString}
      - KafkaConsumerSettings:SecurityProtocol=${KafkaSecurityProtocol}
      - KafkaConsumerSettings:Topics=${KafkaConsumerTopics}

      ## MongoDb Data Store
      - CommentMongoDbSettings:ConnectionString=${MongoDB_ConnectionString}

      ## Internal APIs
      - "MLogixAPI:Url=http://mlogix-api/api/v2"

    ports:
      - "8009:80"
    networks:
      - daikon-be-net

  event-history-api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80

      ## Event Store
      - EventDatabaseSettings:ConnectionString=${EventDB_ConnectionString}

      - "UserStoreAPI:Url=http://userstore-api/api/v2"
      - "GeneAPI:Url=http://gene-api/api/v2"
      - "TargetAPI:Url=http://target-api/api/v2"
      - "ScreenAPI:Url=http://screen-api/api/v2"
      - "HitAssessmentAPI:Url=http://hitassessment-api/api/v2"
      - "ProjectAPI:Url=http://project-api/api/v2"

    ports:
      - "8012:80"
    networks:
      - daikon-be-net

  docustore-api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80

      ## Event Store
      - EventDatabaseSettings:ConnectionString=${EventDB_ConnectionString}

      ## Kafka Producer
      - KafkaProducerSettings:BootstrapServers=${KafkaBootstrapServers}
      - KafkaProducerSettings:ConnectionString=${KafkaConnectionString}
      - KafkaProducerSettings:SecurityProtocol=${KafkaSecurityProtocol}
      - KafkaProducerSettings:Topic=${KafkaTopic}

      ## Kafka Consumer
      - KafkaConsumerSettings:BootstrapServers=${KafkaBootstrapServers}
      - KafkaConsumerSettings:ConnectionString=${KafkaConnectionString}
      - KafkaConsumerSettings:SecurityProtocol=${KafkaSecurityProtocol}
      - KafkaConsumerSettings:Topics=${KafkaConsumerTopics}

      ## MongoDb Data Store
      - DocuStoreMongoDbSettings:ConnectionString=${MongoDB_ConnectionString}
      ## Internal APIs
      - "MLogixAPI:Url=http://mlogix-api/api/v2"

    ports:
      - "8014:80"
    networks:
      - daikon-be-net

  event-management-api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80

      ## Event Store
      - EventDatabaseSettings:ConnectionString=${EventDB_ConnectionString}
      ## Kafka Producer
      - KafkaProducerSettings:BootstrapServers=${KafkaBootstrapServers}
      - KafkaProducerSettings:ConnectionString=${KafkaConnectionString}
      - KafkaProducerSettings:SecurityProtocol=${KafkaSecurityProtocol}
      - KafkaProducerSettings:Topic=${KafkaTopic}

    ports:
      - "8015:80"
    networks:
      - daikon-be-net

  user-preferences-api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80

      ## Event Store
      - EventDatabaseSettings:ConnectionString=${EventDB_ConnectionString}

      ## Kafka Producer
      - KafkaProducerSettings:BootstrapServers=${KafkaBootstrapServers}
      - KafkaProducerSettings:ConnectionString=${KafkaConnectionString}
      - KafkaProducerSettings:SecurityProtocol=${KafkaSecurityProtocol}
      - KafkaProducerSettings:Topic=${KafkaTopic}

      ## Kafka Consumer
      - KafkaConsumerSettings:BootstrapServers=${KafkaBootstrapServers}
      - KafkaConsumerSettings:ConnectionString=${KafkaConnectionString}
      - KafkaConsumerSettings:SecurityProtocol=${KafkaSecurityProtocol}
      - KafkaConsumerSettings:Topics=${KafkaConsumerTopics}

      ## MongoDb Data Store
      - UserPreferencesMongoDbSettings:ConnectionString=${MongoDB_ConnectionString}
      ## Internal APIs
      - "MLogixAPI:Url=http://mlogix-api/api/v2"

    ports:
      - "8016:80"
    networks:
      - daikon-be-net

  aggregators-api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - "MLogixAPI:Url=http://mlogix-api/api/v2"
      - "UserStoreAPI:Url=http://userstore-api/api/v2"
      - "GeneAPI:Url=http://gene-api/api/v2"
      - "TargetAPI:Url=http://target-api/api/v2"
      - "ScreenAPI:Url=http://screen-api/api/v2"
      - "HitAssessmentAPI:Url=http://hitassessment-api/api/v2"
      - "ProjectAPI:Url=http://project-api/api/v2"
      - "HorizonAPI:Url=http://horizon-api/api/v2"
    ports:
      - "8017:80"
    networks:
      - daikon-be-net

networks:
  daikon-be-net:
    name: daikon-be-net
    external: true
